.container {
  position: relative;
  max-height: 250px;
}

.line::after {
  content: '';
  height: calc(100% - 20px);
  position: absolute;
  left: 50%;
  border-right: 10px dashed gray;
}

.arrow {
  position: absolute;
  left: calc(50% - 15px);
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid gray;
}
