.card.card.card {
  margin-top: 0;
  width: unset;
  max-width: 250px;
}

.input {
  width: 45px
}

.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > * {
    margin-bottom: 1em;
  }
}
